<section class="uk-container">
    <h1 class="uk-heading">Tu usuario ya fué confirmado anteriormente y ya cuenta con contraseña</h1>
    <h2> inicia sesion:
<a class="uk-button uk-button-primary" href="/auth/login">
    Inicia Sesión
</a>
</h2>
</section>
