<section class="uk-container uk-container-small">



<h2>Hola confirma tu correo electrónico</h2>
<form validated action="/auth/confirm" method="post">
    
    {{#if error}}
    <input class="uk-input uk-form-danger" required type="email" name="email" placeholder="{{error}}" />
    {{else}}
    <input class="uk-input" required type="email" name="email" placeholder="Tu correo electrónico" />
    {{/if}}
    <input class="uk-button uk-button-primary" type="submit" value="confirmar emial" />
</form>



</section> 