<section style="padding:10%">
    <h2>Términos y condiciones</h2>
    <p>
        BASES LEGALES DE LA PROMOCIÓN “Beca Uber”
        <br>
        <br>
        PRIMERA.- ENTIDAD ORGANIZADORA
        <br>
        La entidad organizadora de la presente promoción es la compañía IRONHACK MEXICO SC. (en
        adelante, IRONHACK), sociedad mercantil con domicilio social en CALLE AMORES NO.
        EXTERIOR 43 NO. INTERIOR 202-A, COLONIA DEL VALLE C.P. 03100, BENITO JUÁREZ, CIUDAD
        DE MÉXICO y provista con RFC IME171031RT6
        <br>
        <br>
        SEGUNDA.- FINALIDAD
        Las participantes a la Uber Scholarship de Ironhack aspirarán a 10 becas ‘Full Scholarship’ y a
        varias becas parciales. El conjunto sumará una valoración de 2.5 Millones de Pesos Mexicanos.
        En ambos casos, las ganadoras podrán cursar cualquier Bootcamp Part-Time o Full-Time de Web
        Development o de UX/UI Design impartido por Ironhack en los campus de México durante 2018.
        <br>
        <br>

        TERCERA.- ÁMBITO DE LA PROMOCIÓN
        La citada promoción será válida en todo el territorio español, y se desarrollará a través de la
        página web https://www.ironhack.com/coding-and-ux-design-bootcamp/uber-mexico, de
        conformidad con las condiciones establecidas en las presentes Bases y de acuerdo con los
        Términos y Condiciones Generales de dicha página web.
        <br>
        <br>
        CUARTA.- DURACIÓN DE LA PROMOCIÓN
        La presente Promoción sólo será válida durante 10 de abril de 2018 hasta el 11 de junio de 2019 a
        las 11:59 pm.
        <br>
        <br>
        QUINTA.- LEGITIMACIÓN PARA PARTICIPAR y CAUSAS DE EXCLUSIÓN
        Podrán participar en la presente Promoción, todas las personas físicas, mayores de 18 años con
        residencia legal en México que estén registradas en la página oficial de esta promoción:
        https://www.ironhack.com/coding-and-ux-design-bootcamp/uber-mexico.
        <br>
        <br>
        SEXTA.- MECÁNICA DE PARTICIPACIÓN
        La participación en la promoción se realizará de forma gratuita y voluntaria a través de la página
        oficial.
        <br>
        Para participar en la promoción, los usuarios que cumplan los requisitos establecidos en la
        anterior Base Quinta de las presentes Bases, deberán rellenar el formulario oficial alojado en la
        web de la promoción: https://www.ironhack.com/coding-and-ux-design-bootcamp/uber-mexico.
        En concreto, los usuarios deberán especificar el programa en el que están interesados (Web
        Development Bootcamp, Web Development Part-time, UX/UI Design Bootcamp o UX/UI
        Part-time), así como el motivo por el cual deben ser elegidos ganadores y finalmente detallar
        cómo la beca les ayudaría a conseguir sus metas personales.
        <br>
        Igualmente, se eliminarán las aplicaciones de cualquier índole que no se ciñan estrictamente a la
        temática de la promoción o que IRONHACK considere inadecuadas.
        <br>
        Sólo se considerará válida la participación de aquellos usuarios que cumplimenten
        correctamente las presentes Bases y que cumplan con los requisitos establecidos en las
        presentes Bases.
        <br>
        <br>
        SÉPTIMA.- SELECCIÓN Y COMUNICACIÓN DEL GANADOR
        Todos los participantes que superen la mecánica de promoción descrita en el apartado anterior, y
        cumplan con los requisitos detallados en las presentes Bases, pasarán a la fase final en la que se
        realizará la elección definitiva.
        <br>
        De entre dichos usuarios Uber y Ironhack elegirán según su propio criterio y libremente el
        ganador de la promoción.
        <br>
        Los criterios se basarán en la evaluación del formulario descrito en el punto anterior, en concreto,
        serán elegidas las narrativas que Uber y Ironhack consideren más adecuadas, así como la
        alineación de las becas con los objetivos personales también descritos en el punto anterior.
        Asimismo, el nombre del ganador será comunicado en la página oficial
        https://www.ironhack.com/ y las redes sociales de las marcas Ironhack y Uber del 15 de mayo de
        1 de junio de 2018.
        <br>
        <br>

        OCTAVA.- ENTREGA DEL PREMIO
        El usuario ganador será contactado por la Dirección de Admisiones de Ironhack vía email o vía
        teléfono según los datos de carácter personal que haya facilitado en el momento de la
        inscripción a dicha promoción.
        El plazo estipulado para reclamar el premio es de cinco (5) días contados desde la fecha de
        publicación del post de ganadores en la fan page de IRONHACK en Facebook. Transcurrido
        dicho plazo sin tener noticias del usuario ganador, éste perderá su derecho al premio y/o a
        reclamarlo.
        <br>
        <br>
        NOVENA.- COMPATIBILIDAD
        Los premios citados en el punto SEGUNDO.- FINALIDAD no serán en ningún caso acumulativos
        con otras promociones ofrecidas por IRONHACK.
        <br>
        <br>
        DÉCIMA.- RESERVAS Y LIMITACIONES
        Ironhack pretende que el sorteo entre los distintos participantes en la Promoción se haga con
        igualdad de oportunidades y con estricto respeto a las normas de la buena fe. Por ello, cualquier
        utilización abusiva o fraudulenta de estas Bases dará lugar a la consiguiente descalificación del
        participante en la Promoción.
        <br>
        Sin perjuicio de lo anterior, se entenderá, a título enunciativo pero no limitativo, que se produce
        fraude, cuando se detecta el supuesto uso de aplicaciones independientes al Website; y en
        general todos aquellos comportamientos que puedan resultar aparentemente abusivos y/o
        malintencionados. La constatación de cualquiera de estas circunstancias durante la Promoción
        supondrá la descalificación automática del usuario en cuestión de la Promoción así como la
        pérdida del premio si se le hubiere otorgado. Asimismo, Ironhack se reserva el derecho de
        emprender acciones judiciales contra aquellas personas que realicen cualquier tipo de acto
        susceptible de ser considerado manipulación o falsificación de la Promoción.
        Ironhack queda eximida de cualquier responsabilidad en el supuesto de existir algún error en los
        datos facilitados por los propios agraciados que impidiera su identificación. Igualmente no se
        responsabiliza de las posibles pérdidas, deterioros, robos o cualquier otra circunstancia que
        puedan afectar al envío de los premios.
        <br>
        El usuario exime a Ironhack de cualquier responsabilidad por daños y perjuicios de toda
        naturaleza que puedan deberse a la falta temporal de disponibilidad o de continuidad del
        funcionamiento de los servicios telemáticos mediante los que se participa en la Promoción y, en
        particular, a los fallos en el acceso a las distintas páginas y envíos de respuestas de participación
        a través de Internet.
        <br>
        Ironhack se reserva el derecho a efectuar cambios que redunden en el buen fin de la Promoción
        cuando concurra causa justa o motivos de fuerza mayor que impidan llevarla a término en la
        forma en que recogen las presentes Bases. Asimismo, Ironhack se reserva el derecho a
        modificar las presentes Bases y a aplazar o prorrogar el período de la presente Promoción,
        comunicándose debidamente a los socios y participantes de la misma a través de su fan page de
        Facebook.
        <br>
        <br>
        DECIMOPRIMERA.- DATOS DE CARÁCTER PERSONAL
        Ironhack garantiza el cumplimiento de la Ley Federal de Protección de Datos Personales en
        Posesión de Particulares.
        <br>
        Asimismo, la información que pueda ser facilitada voluntariamente por los participantes en la
        presente promoción ser conservada a los únicos efectos de la entrega del premio y en
        cumplimiento de lo dispuesto en las presentes Bases. Igualmente, al participar en la presente
        Promoción los usuarios aceptan recibir información sobre futuras promociones y/o concursos
        realizados o promovidos por Ironhack.
        <br>
        <br>
        DECIMOSEGUNDA.- ACEPTACIÓN DE LAS BASES
        La simple participación en esta promoción implica la aceptación de las presentes Bases, por lo
        que la manifestación en el sentido de no aceptación de la totalidad o parte de las mismas
        implicará la exclusión del participante y como consecuencia de ello, Ironhack quedará liberada
        del cumplimiento de cualquier obligación respecto de dicho participante.
        <br>
        <br>
        DECIMOTERCERA.- DESVINCULACIÓN RESPECTO A FACEBOOK
        Facebook no patrocina, avala, ni administra de modo alguno esta Promoción, ni está asociado a
        ella. El usuario se desvincula totalmente de Facebook y es consciente de que está
        proporcionando su información a Ironhack y no a Facebook. La información que proporcione
        sólo se utilizará para los fines previstos en las presentes Bases.
        <br>
        <br>
        DECIMOCUARTA.- INFORMACIÓN COMPLEMENTARIA
        En caso de alguna duda o de resultar necesaria alguna aclaración o información adicional, los
        destinatarios de la Promoción pueden ponerse en contacto con Ironhack a través de su Servicio
        de Atención al Cliente, en la dirección de correo electrónico contactomex@ironhack.com, donde
        la compañía podrá atender cualquier petición y/o aclaración relacionada con la presente
        Promoción.
        <br>
        <br>
        DECIMOQUINTA.- DEPÓSITO DE LAS BASES
        Las Bases Legales de la Promoción están disponibles en la web
        https://www.ironhack.com/coding-and-ux-design-bootcamp/uber-mexico
        Ciudad de México, a 1 de abril de 2018</p>
</section>