body {
  padding: 0px;
  margin: 0;
  font: 14px "Avenir";
}

a {
  color: #4dc3f9;
  text-decoration-line: none;
}

a:hover{
  text-decoration-line: none;
}

.error{
  color:red;
}

.no-bootcamp{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 200px;
  width: 50%;
  border: 2px dashed white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all .3s ease;
}
.no-bootcamp:hover{
  transform: scale(1.2);
  background-color: #4dc3f9;
  border: none;
}

.si-bootcamp{
  background-color: #4dc3f9;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 200px;
  width: 50%;
  border: 2px dashed white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all .3s ease;
  padding: 0;
}

.si-bootcamp:hover{
  transform: scale(1.1);
}

.si-bootcamp h3,h4,h5{
  margin: 0;
}

.si-bootcamp h5 span{
  color:red;
}

.portada{
  position: relative;
}

.portada .profilePic{
  position: absolute;
  top:-75px;
  width: 150px;
  left:calc(50% - 75px);
  cursor: pointer;
  border-radius: 50%;
}

.selectable{
  cursor: pointer;
  transition:all .3s ease-in;
  margin:0 15px;
}
.selectable:hover{
  transform: scale(1.1)
}

.selected{
  transform: scale(1.1)
}

.video{
  height: 86vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video .cover{
  height: 100%;
  width: 100%;
  /* background-color:#4dc3f9; */
  background-color: transparent;
  opacity: .5;
  position: absolute;
  top:0;
  left:0;
  filter: blur(100%);
}

#call-to-action{
  position: fixed;
  bottom:15%;
  transform: scale(1.5);
  transition:all .3s ease;
}
#call-to-action:hover{
  transform: scale(2)
}

#mute{
  position: absolute;
  font-size: 5rem;
  top:10%;
  left:5%;
  color:#4dc3f9;
  /* background-color: white; */
  border-radius:50%; 
  transition:all .4s ease;
  cursor: pointer;
}
#mute:hover{
  transform: scale(1.2);
  color:white;
}

